﻿<!DOCTYPE html>
<html ng-app="login" ng-controller="loginCtrl">
<head>
    <link rel="icon" type="image/png" href="Images/Icon/Gap_logo.png" />
    <meta charset="utf-8">
    <title>GAP</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="Angular_Script/angular.min.js"></script>
    <script src="Angular_Script/angular-route.js"></script>
    <script src="Angular_Script/ui-bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-cookies.js"></script>
    <script src="Login/Script/login.module.js"></script>
    <script src="Login/Script/loginController.js?index=1"></script>
    <!--<script src="Login/Script/IndexController.js"></script>-->
    <script src="Login/Script/homeController.js"></script>
    <script src="Login/Script/registerController.js"></script>
    <script src="Login/Services/registerService.js"></script>
    <script src="Login/Script/CarouselCtrl.js"></script>

    <!--<script src="Login/Script/requestController.js"></script>-->
    <script src="Login/Services/userService.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/gap.css" />
    <link rel="stylesheet" type="text/css" href="styles/xpen.css" />
</head>
<body>
    <div class="container-fluid zero_margin" style="position:relative;">
        <div id="topbar" class="row bg_1 hidden-sm hidden-md hidden-lg zero_margin" style="height:60px;position:fixed;">
            <div class="col-xs-4">
                <img src="Images/Icon/logo_xpen_white_transp.png" style="height:30px;width:30px;  margin-left:20px;" />
            </div>
            <div class="col-xs-4" style="text-align:center;">
                <h3 class="center_heading">xPen</h3>
            </div>
            <div class="col-xs-4" style="text-align:right;padding-right:0px;margin-right:0px;">
                <button type="button" class="btn btn-default dropdown-toggle" aria-label="Left Align" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="z-index:999;position:absolute;">
                    <li><a ng-click="ToggelLogin()">Login</a></li>
                    <li><a ng-click="GoToRegister()">Register</a></li>
                </ul>
            </div>
        </div>

        <div id="topbar" class="row bg_1 hidden-xs zero_margin" style="height:60px;position:fixed; z-index:5;">
            <div style="margin-top:15px;">
                <div class="col-md-5">
                    <img src="Images/Icon/logo_xpen_blue_transp.png" style="height:30px;width:30px; margin-left:20px;" />

                </div>
                <div class="col-md-2" style="text-align:center;">
                    <h3 class="center_heading">xPen</h3>
                </div>
                <div class="col-md-5" style="text-align:right;padding-right:20px;margin-right:0px;">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" style="font-size:30px;color:#000;"></i></a></li>
                        <li><a ng-click="ToggelLogin()">Login</a></li>
                        <li><a ng-click="GoToRegister()">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div ng-show="showlogin" class="loginBox" style="z-index:999;">
            <div class="layout_modal_header" style="background-color:#8093B8">
                Login <span ng-click="showlogin=false" class="fa fa-close"></span>
            </div>
            <div class="row" style="margin-left:20px;width:260px;margin-top:10px;">
                <form>
                    <div class="input-group" style="padding:5px;">
                        <span class="input-group-addon" style="color:black;"><i class="glyphicon glyphicon-envelope" style="border:none;"></i></span>
                        <input type="text" style="font-size:smaller;" placeholder="Email or Mobile" class="form-control" ng-model="userLogin" /><br />
                    </div>
                    <div class="input-group" style="padding:5px;">
                        <span class="input-group-addon" style="color:black;"><i class="glyphicon glyphicon-lock" style="border:none;"></i></span>
                        <input type="password" style="font-size:smaller;" placeholder="Password" class="form-control" ng-model="userPassword" ng-enter="CheckLogin()" /><br />
                    </div>
                    <button type="button" class="btn btn-primary" x:name="btnLogin" ng-click="CheckLogin()" style="float:right; margin-top:10px;">Login</button>
                </form>
            </div>
            <div class="row" style="width:200px;height:30px;text-align:center; margin-top:10px; ">
                <img ng-show="progress" style="height:20px;width:20px;z-index:15;" src="Images/Icon/ajax-loader.gif" />
                <a href="#!forgot" ng-hide="progress" ng-click="showlogin=false" style="left:40px;position:absolute;text-decoration:none;">Forgot Password</a>
            </div>
            <label class="response_label" style="width:180px;margin-left:10px;height:20px;">{{response}}</label>
            <div ng-show="progress" style="width:100%;height:100%; position:absolute; top:0px;left:0px; background-color: rgba(0,0,0,0.05);text-align:center;">
            </div>
        </div>


        <div ng-view style="margin-top:50px;margin-left:0px; margin-right:0px;padding-right:0px;"></div>
    </div>

            <style>

                .loginBox {
                    transition: all linear 0.5s;
                    position: fixed;
                    top: 35px;
                    right: 150px;
                    elevation: above;
                    height: 220px;
                    width: 300px;
                    background-color: #efefef;
                    border-radius: 5px;
                }

                .layout_modal_header {
                    color: white;
                    font-size: medium;
                    text-align: left;
                    padding: 5px;
                    margin: 0px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    background-color: #4CAF50;
                }

                    .layout_modal_header span {
                        float: right;
                    }

                .response_label {
                    font-size: smaller;
                    color: red;
                }
            </style>
</body>
</html>