<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid zero_margin">
        <div class="row" ng-show="ProjectList.length==0">
            No Project found, Please create Project First
        </div>
        <div class="row">

            <div class="col-md-4 ">
                <div class="card" style="height:180px;">
                    <div class="card-header card-header-color1">
                        Account blance
                    </div>
                    <div class="card-body container1">
                        <div class="row">
                            <div class="col-xs-6"><h4>Kotak Account</h4></div>
                            <div class="col-xs-6"><h4>Rs400000</h4></div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6"><h4>SBI Account</h4></div>
                            <div class="col-xs-6"><h4>Rs700000</h4></div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6"><h4>HDFC Account</h4></div>
                            <div class="col-xs-6"><h4>Rs300000</h4></div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="height:180px;">
                    <div class="card-header card-header-color1">
                        Account Info ( Jun,18 )
                    </div>
                    <div class="card-body container1">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="OuterRing" style=" background-color:#e58a7a;">
                                    <div class="InnerRing" style=" background-color:#ffffff;">
                                        <h5 class="ring_title" style="color:grey;">  Deposit </h5>
                                    </div>
                                </div>
                                <h4 class="ring_value" style="color:green;font-weight:400;">Rs15000</h4>
                            </div>
                            <div class="col-xs-4">
                                <div class="OuterRing" style=" background-color:#e5c100;">
                                    <div class="InnerRing" style=" background-color:#ffffff;">
                                        <h5 class="ring_title" style="color:grey;">  Withdraw </h5>
                                    </div>
                                </div>
                                <h4 class="ring_value" style="color:red; font-weight:400">Rs45000</h4>
                            </div>
                            <div class="col-xs-4">
                                <div class="OuterRing" style=" background-color:#88b7ad;">
                                    <div class="InnerRing" style=" background-color:#ffffff;">
                                        <h5 class="ring_title" style="color:grey;">  Balance </h5>
                                    </div>
                                </div>
                                <h4 class="ring_value" style="color:gray;">Rs200000</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header card-header-color1">
                        TDS/GST ( Jun,18 )
                    </div>
                    <div class="container1">

                        <div class="row">
                            <div class="col-xs-8">
                                <h4 style="color: #673AB7;"><b>TDS </b></h4>
                                <p>Paid:0</p>
                            </div>
                            <div class="col-xs-4">
                                <p>Payable:<h4><b>Rs4500</b></h4></p>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="card">

                    <div class="container1">

                        <div class="row">
                            <div class="col-xs-8">
                                <h4 style="color: #4caf50;"><b>GST </b></h4>
                                <p>Paid:0</p>
                            </div>
                            <div class="col-xs-4">
                                <p>Payable:<h4><b>Rs2500</b></h4></p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">


            <div class="col-sm-4">
                <div class="card-header">Payment (Sale)</div>
                <div class="shadow mb-5 bg-c1 p-3 rounded" style="height:122px;">Payable Amount (Purchase):<h4> Rs71000</h4></div>

            </div>
            <div class="col-sm-4 ">
                <div class="card-header">Payment (Purchase)</div>
                <div class="shadow mb-5 p-3 rounded bg-c2" style="height:122px;">


                    Receivable Amount (Invoices):<h4> Rs200000</h4>
                    <h4 class="due">Due: <b>Rs20000</b></h4>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="card-header">Project Alert</div>
                <div class="shadow p-3 mb-5 bg-c4 rounded" style="height:122px;">
                    <h4>Project: NBSZ App</h4><h4 class="blink_me"> Expense overbudget</h4>
                </div>
            </div>


        </div>
       
            

        </div>

        
</body>
</html>
