<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid zero_margin">
        <div class="row" ng-show="ProjectList.length==0">
            No Project found, Please create Project First
        </div>
        <div class="row">

            <div class="col-sm-4">
                <div class="card mb-5">

                    <div class="container1">

                        <div class="row">
                            <div class="col-xs-8">
                                <h4 style="color: #673AB7;"><b>Inprogress Expense</b></h4>
                                <p>Number of Activity:{{IPMgrCount}}</p>
                            </div>
                            <div class="col-xs-4">
                                <p>Amount:<h4><b>{{IPMgrValue| currency : "&#8377" : 2}}</b></h4></p>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="col-sm-4">
                <div class="card mb-5">

                    <div class="container1">

                        <div class="row">
                            <div class="col-xs-8">
                                <h4 style="color: #ff9800;"><b>Submitted Expense</b></h4>
                                <p>Number of Activity:{{SubmittedMgrCount}}</p>
                            </div>
                            <div class="col-xs-4">
                                <p>Amount:<h4><b>{{SubmittedMgrValue|currency : "&#8377" : 2}}</b></h4></p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-5">

                    <div class="container1">

                        <div class="row">
                            <div class="col-xs-8">
                                <h4 style="color: #4caf50;"><b>Approved Expense</b></h4>
                                <p>Number of Activity:{{ApprovedMgrCount}}</p>
                            </div>
                            <div class="col-xs-4">
                                <p>Amount:<h4><b>{{ApprovedMgrValue|currency : "&#8377" : 2}}</b></h4></p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <div class="row">


            <div class="col-sm-4">
                <div class="card-header">Payment (Sale)</div>
                <div class="shadow mb-5 bg-c1 p-3 rounded" style="height:122px;">Receivable Amount (Purchase):<h4>{{Receivable - ReceivedAmount|currency : "&#8377" : 2}}</h4></div>

            </div>
            <div class="col-sm-4 ">
                <div class="card-header">Payment (Purchase)</div>
                <div class="shadow mb-5 p-3 rounded bg-c2" style="height:122px;">


                    Payble Amount (Invoices):<h4> {{Payable - PaidAmount |currency : "&#8377" : 2}}</h4>
                    <h4 class="due">Due: <b>Rs20000</b></h4>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="card-header">Project Alert</div>
                <div class="shadow p-3 mb-5 bg-c4 rounded" style="height:122px;">
                    <h4>Project: NBSZ App</h4><h4 class="blink_me"> Expense overbudget</h4>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="col-sm-4 ">
                <div class="shadow p-3 mb-5 bg-c1 rounded">Today Expense:<h4> Rs12000</h4></div>
                <div class="shadow p-3 mb-5 bg-c2 rounded">Today Approved amount:<h4> Rs14000</h4> </div>


            </div>
            <div class="col-sm-8">
                <div class="shadow" style="height:200px;background-image:url('Images/Icon/graph.jpg');">
                    <div class="panel-heading" style="background-color:#FFC107;">
                        Daily Expense
                    </div>
                    <div class="panel-body zero_all">
                        <img src="" />

                    </div>
                </div>
            </div>

        </div>
        

    </div>
</body>
</html>
