<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="Angular_Script/ui-bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row project_text bg_e7">
            <div class="col-xs-6"><label class="text_discuss">Project Name  :</label> {{Project.ProjectName}} </div><div class="col-xs-6"><label class="text_discuss"> Project Number:</label> {{Project.ProjectNumber}}</div>
            <div class="col-xs-6"><label class="text_discuss"> Client Name :</label> {{Project.ClientName}} </div><div class="col-xs-6"><label class="text_discuss"> Project Value:</label> {{Project.ProjectValue | currency : "&#8377" : 2 }}</div>
            <div class="col-xs-6"><label class="text_discuss">  Project Status :</label> {{Project.Status}} </div><div class="col-xs-6"><label class="text_discuss"> Project Description:</label> {{Project.ProjectDescription}}</div>
            <div class="col-xs-6"><label class="text_discuss"> Creation Date :</label> {{Project.ProjectCreationDate| date:"mediumDate"}} </div><div class="col-xs-6"><label class="text_discuss"> Last Updated:</label> {{Project.StatusOn| date:"mediumDate"}}</div>
        </div>

        <div class="row">
            <div class="col-xs-6"><label> Total Withdraw =</label> {{model.Withdraw | currency : "&#8377" : 2}}</div>
            <div class="col-xs-6"> <label> Total Deposit = </label>{{model.Deposit  | currency : "&#8377" : 2}}</div>

            <div class="col-xs-6"> <label> Receivable (Sale) =</label> {{model.Receivable - model.Received   | currency : "&#8377" : 2}}</div>
            <div class="col-xs-6">   <label> Payable (Purchase) =</label> {{model.Payable -model.Paid  | currency : "&#8377" : 2}}</div>
            <div class="col-xs-6"><label> Payable (Expenses) =</label> {{model.NetExpense  | currency : "&#8377" : 2}} </div>
            <div class="col-xs-6"><label> Profit & Loss =</label> {{model.Deposit - model.Withdraw + model.Receivable -model.Payable -model.NetExpense | currency : "&#8377" : 2}} </div>
        </div>

      

        <div class="row">
            <uib-tabset active="0">
                <uib-tab index="0" heading="Transaction">
                    <div class="row">

                        <div class="col-xs-12" style="margin-top:0px;">
                            <div class="data_header" ng-show="false"> Project Transaction <span class="fa fa-plus" title="Enter Invoice" ng-click="model.newOtherPaymentDiv= true" style="margin-left:20px;"></span></div>

                            <div style="max-height:300px;overflow-y:scroll; overflow-x:hidden;">
                                <table ng-init="TransItems={}" style="max-height:250px; overflow:scroll; width:100%;">
                                    <tr>
                                        <th>#</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Withdraw</th>
                                        <th>Deposit</th>
                                        <th>DateTime</th>

                                    </tr>
                                    <tr ng-repeat="t in model.transactionList">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ t.TransType}}</td>
                                        <td>{{ t.TransName}}</td>
                                        <td ng-init="TransItems.Withdraw= TransItems.Withdraw + t.Withdraw">{{ t.Withdraw | currency : "&#8377" : 2}}</td>
                                        <td ng-init="TransItems.Deposit = TransItems.Deposit + t.Deposit">{{ t.Deposit | currency : "&#8377" : 2 }}</td>
                                        <td>{{t.TransactionDate| date:"mediumDate"}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Total</td>
                                        <td><b>{{model.Withdraw =TransItems.Withdraw | currency : "&#8377" : 2}}</b></td>
                                        <td><b>{{model.Deposit =TransItems.Deposit | currency : "&#8377" : 2}}</b></td>
                                        <td></td>
                                    </tr>

                                </table>

                            </div>
                        
                        </div>


                    </div>
                </uib-tab>

                <uib-tab index="1" heading="Sale">
                    <div class="row">

                        <div class="col-xs-12 " style="margin:10px;">
                            <div class="data_header" style="text-align:center;">  Sale <span class="fa fa-plus" title="Create Invoice" ng-click="newSaleInvoiceDivOpen()" style="margin-left:20px;"></span></div>
                            <div class="customLayout" style="max-height:300px;overflow:scroll;">
                                <table ng-init="sellItems = {}" style="max-height:250px; overflow:scroll; width:100%;">
                                    <tr>
                                        <th>#</th>
                                        <th>InvoiceNumber</th>
                                        <th>Date</th>
                                        <th>Client</th>
                                        <th>Cost</th>
                                        <th>CGST</th>
                                        <th>SGST</th>
                                        <th>IGST</th>
                                        <th>TDS</th>
                                        <th>Total</th>
                                        <th>Received</th>
                                        <th>Received On</th>
                                        <th></th>
                                    </tr>

                                    <tr ng-repeat="p in model.InvoiceList">
                                        <td>{{ $index + 1 }}aaa</td>
                                        <td>{{ p.InvoiceNumber}}</td>
                                        <td>{{p.InvoiceDate| date:"mediumDate"}}</td>
                                        <td>{{p.ClientName}}</td>
                                        <td>{{ p.ServiceCost |currency : "&#8377" : 2 }}</td>
                                        <td>{{ p.CGST | currency : "&#8377" : 2 }}</td>
                                        <td>{{ p.SGST | currency : "&#8377" : 2 }}</td>
                                        <td>{{ p.IGST | currency : "&#8377" : 2}}</td>
                                        <td>{{ p.TDS | currency : "&#8377" : 2}}</td>
                                        <td ng-init="sellItems.total = sellItems.total + p.ServiceCost+p.CGST+p.SGST+ p.IGST - p.TDS">
                                            {{p.ServiceCost+p.CGST+p.SGST+ p.IGST-p.TDS | currency : "&#8377" : 2}}
                                          
                                        </td>
                                        <td ng-init="sellItems.received = sellItems.received + p.ReceivedAmount">
                                            {{p.ReceivedAmount | currency : "&#8377" : 2}}
                                            <span class="fa fa-edit" style="color:#4caf50;font-size:1.5em;" title="Payment Received" ng-click="model.receivePayment(p)"></span>
                                        </td>

                                        <td>
                                            {{p.ReceivedDate | date:"mediumDate"}}


                                        </td>


                                    </tr>
                                    <tr>
                                        <td colspan="9"> Total Billing </td>
                                        <td><b> {{model.Receivable = sellItems.total | currency : "&#8377" : 2}}</b></td>
                                        <td> <b> {{model.Received = sellItems.received | currency : "&#8377" : 2}}</b></td>
                                        <td colspan="2"></td>
                                    </tr>

                                </table>
                               

                            </div>
                          
                        </div>


                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Purchase">
                    <div class="row">

                        <div class="col-xs-12" style="margin-top:10px;">
                            <div class="data_header" style="text-align:center;">  Purchase <span class="fa fa-plus" title="Enter Invoice" ng-click="newPurchaseInvoiceDivOpen()" style="margin-left:20px;"></span></div>
                            <div class="customLayout" style="max-height:300px;overflow:scroll;">
                                <table ng-init="purchaseItems={}" style="max-height:250px; overflow:scroll; width:100%;">
                                    <tr>
                                        <th>#</th>
                                        <th>InvoiceNumber</th>
                                        <th>Date</th>
                                        <th>Vendor</th>
                                        <th>Cost</th>
                                        <th>CGST</th>
                                        <th>SGST</th>
                                        <th>IGST</th>
                                        <th>TDS</th>
                                        <th>Total</th>
                                        <th>Paid</th>
                                        <th>Paid Date</th>
                                        <th></th>
                                    </tr>

                                    <tr ng-repeat="p in model.PurchaseInvoiceList">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ p.InvoiceNumber}}</td>
                                        <td>{{p.InvoiceDate| date:"mediumDate"}}</td>
                                        <td>{{ p.VendorName}}</td>
                                        <td>{{ p.ServiceCost | currency : "&#8377" : 2 }}</td>
                                        <td>{{ p.CGST | currency : "&#8377" : 2 }}</td>
                                        <td>{{ p.SGST | currency : "&#8377" : 2 }}</td>
                                        <td>{{ p.IGST | currency : "&#8377" : 2 }}</td>
                                        <td>{{ p.TDS | currency : "&#8377" : 2 }}</td>
                                        <td ng-init="purchaseItems.payable = purchaseItems.payable + p.ServiceCost+p.CGST+p.SGST+ p.IGST-p.TDS">
                                            {{p.ServiceCost+p.CGST+p.SGST+ p.IGST-p.TDS | currency : "&#8377" : 2 }}
                                            <span class="fa fa-edit" style="color:#4caf50;font-size:1.5em;" title="Add Payment" ng-click="makePayment(p)"></span>
                                        </td>
                                        <td ng-init="purchaseItems.Paid = purchaseItems.Paid+ p.PaidAmount">{{ p.PaidAmount | currency : "&#8377" : 2 }}</td>
                                        <td>{{ p.PaidDate | date:"mediumDate"}}</td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                        <td colspan="9"></td>
                                        <td><b>{{model.Payable = purchaseItems.payable | currency : "&#8377" : 2 }}</b></td>
                                        <td><b>{{model.Paid = purchaseItems.Paid | currency : "&#8377" : 2 }}</b></td>
                                        <td></td>
                                    </tr>

                                </table>
                            </div>
                        </div>


                    </div>
                </uib-tab>

                <uib-tab index="3" heading="Activity/Expense" select="LoadActivity()">

                    <div class="layout-box" style="margin:10px;">
                        <div class="data_header">
                            Project Activities
                            <span class="fa fa-plus" title="New Activity" ng-click="NewActivityForm()" style="margin-left:20px; "></span>
                            <span class="fa fa-dollar" title="Quick Expense" ng-click="QuickExpense()" style="margin-left:20px; "></span>
                        </div>
                      
                        <div style="max-height:300px;overflow:scroll;">

                            <table style="width:100%;max-height:260px;">
                                <tr>
                                    <th>#</th>
                                    <th>ActivityName</th>
                                    <th>Employee</th>
                                    <th>ActivityStatus</th>
                                    <th>Expense</th>
                                    <th>Received</th>
                                    <th>Advance</th>
                                </tr>

                                <tr ng-repeat="act in model.ActivityList">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ act.ActivityName}}</td>
                                    <td>{{ act.Employee}}</td>
                                    <td>{{ act.ActivityStatus }}</td>
                                    <td>{{ act.Expenses | currency : "&#8377" : 2  }}</td>
                                    <td>{{ act.Settlement |currency : "&#8377" : 2  }}</td>
                                    <td>{{ act.Advance | currency : "&#8377" : 2  }}</td>
                                    <td ng-init="model.NetExpense = model.NetExpense + act.Expenses-act.Settlement-act.Advance">
                                        {{act.Expenses-act.Settlement-act.Advance | currency : "&#8377" : 2 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7"></td>

                                    <td><b>{{model.NetExpense | currency : "&#8377" : 2 }}</b></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </uib-tab>


            </uib-tabset>
        </div>



        <div id="Activity_Form" ng-show="model.NewActivityForm" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:550px;">
                <div class="layout_modal_header">
                    New Activity <span ng-click="model.NewActivityForm=false" class="fa fa-close" style="float:right;"></span>
                </div>
                <div class="layout_modal_body container-fluid">
                    <form name="newActivity" style="margin:5px 5px; text-align:left;">

                        <div class="row">
                            <div class="col-xs-6">
                                <label class="heading_label"> Created By: </label> <label class="text_label">{{UserId}} ({{UserName}})</label>
                            </div>
                            <div class="col-xs-6">
                                <label class="heading_label"> Transaction Type: </label> <label class="text_label">Expenses</label> <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="heading_label"> Project </label><label class="text_label">{{Project.ProjectName}} </label>
                            </div>
                            <div class="col-xs-6 form-inline">
                                <label class="heading_label">Activity Name: </label>
                                <input ng-disabled="EditProject" class="form-control" name="ActivityName" tabindex="1" type="text" style="width:50%;" ng-model="model.activity_name" required text-length>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="heading_label">Employee</label>
                                <label type="text" class="text_label">{{EmployeeName}}</label>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-link" ng-click="OpenEmployeeDialog()">ChangeUser</button>
                            </div>
                        </div>


                        <div class="row" style="margin-top:10px;">

                            <div class="col-xs-6">
                                <input name="ItemRemark" class="form-control" placeholder="Remark" tabindex="2" type="text" ng-model="model.activity_remarks" style="width:150px;    margin-left: 15px;" required />
                            </div>
                        </div>

                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-success" ng-click="AddActivity()"
                            ng-disabled="newActivity.ItemRemark.$invalid || newActivity.ActivityName.$invalid  ">
                    Add Activity</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" ng-click="model.NewActivityForm=false">Cancel</button>
                </div>
            </div>
            <div ng-show="newActivity_progress" class="loader_div">
                <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:310px;" src="Images/Icon/ajax-loader.gif" />
            </div>
        </div>



        <div id="QuickExpense_Form" ng-show="model.QuickExpenseForm" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:500px;position:relative;">
                <div class="layout_modal_header">
                    Quick Expense<span ng-click="model.QuickExpenseForm=false" title="Close" class="fa fa-close"></span>
                </div>
                <div class="layout_modal_body container-fluid">
                    <form name="Quick_Activity">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <label for="colFormLabel" class="col-sm-5 col-form-label">Employee:</label>
                                    <div class="col-sm-7">
                                        <label><b>{{UserId}} ({{UserName}})</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class=" row">
                                    <label for="colFormLabel" class="col-sm-5 col-form-label">Transaction Type:</label>
                                    <div class="col-sm-7">
                                        <label><b>Expenses</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <label for="colFormLabel" class="col-sm-5 col-form-label">Project/Head:</label>
                                    <div class="col-sm-7">
                                        {{Project.ProjectName}}
                                        <!--<select class="form-control" ng-model="activity_Project" ng-options="x.ProjectName for x in ProjectList"></select>-->

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">

                                    <label for="colFormLabel" class="col-sm-5 col-form-label">Activity:</label>
                                    <div class="col-sm-7">
                                        <label>  General</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row" style="padding: 9px 0px;">
                                    <label for="colFormLabel" class="col-sm-5 col-form-label">ExpenseName:</label>
                                    <div class="col-sm-7">

                                        <input type="text" name="ExpenseName" class="form-control" tabindex="4" placeholder="Expense Name" ng-model="expense_name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">

                                    <label for="colFormLabel" class="col-sm-5 col-form-label">Amount:</label>
                                    <div class="col-sm-7">

                                        <input class="form-control" name="itemDate" tabindex="5" placeholder="Amount" ng-model="expense_amount" required min-amount />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">

                                    <label for="colFormLabel" class="col-sm-5 col-form-label">Remark</label>
                                    <div class="col-sm-7">
                                        <input class="form-control"  placeholder="Remarks" name="Remark" tabindex="5" ng-model="expense_remarks" required text-length>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-success" ng-click="AddQuickExpense()" ng-disabled="Quick_Activity.AccHolder.$invalid || Quick_Activity.Amount.$invalid || Quick_Activity.Remark.$invalid">Add</button>
                    &nbsp;&nbsp; <button type="button" class="btn btn-warning" ng-click="model.QuickExpenseForm=false">Close</button>
                </div>
                <div ng-show="QuickExpense_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:310px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>



        <div id="User_Form" ng-show="model.SelectUserForm" class="layout_modal_Window">
            <div class="layout_modal_Content" style="max-height:500px;width:640px;">
                <div class="layout_modal_header">
                    Select User<span ng-click="model.SelectUserForm=false" title="Close" class="fa fa-close"></span>
                </div>
                <div class="layout_modal_body container-fluid">
                    <form name="newUser" style="margin:5px 5px; text-align:left;">

                        <div class="row form-group">
                            <div style="text-align:center;">Filter <input ng-model="searchText"></div>
                        </div>
                        <div class="row" style="max-height:300px; overflow:scroll;">
                            <table style="width:100%">
                                <tr>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Select</th>
                                </tr>
                                <tr ng-repeat="user in UserList | filter:searchText" ng-click="Select(user)">
                                    <td> {{user.UserName}}</td>
                                    <td>{{user.UserId}}</td>
                                    <td>{{user.UserMobile}}</td>
                                    <td>{{user.UserEmail}}</td>
                                    <td><span class="fa fa-check" ng-click="Select(user)"></span></td>
                                </tr>
                            </table>
                        </div>

                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-success" ng-show="false" ng-click="GetUser()">GetUser</button>
                    &nbsp;&nbsp; <button type="button" class="btn btn-warning" ng-click="model.SelectUserForm= false">Close</button>
                </div>
            </div>
        </div>


        <div id="newInvoiceModal" ng-show="model.newSalesInvoiceDiv" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:590px;">
                <div class="layout_modal_header">
                    New Sales Invoice <span ng-click="model.newSalesInvoiceDiv=false" title="Close" class="fa fa-close"></span>
                </div>
                <div class="layout_modal_body">
                    <form name="NewInvoice">
                        <div class="row">
                            <div class="col-sm-6">
                             
                                    <label for="colFormLabel" class="col-sm-6 col-form-label">Project Name:</label>
                                    <div class="col-sm-6">
                                        <label><b>{{Project.ProjectName}}</b></label>
                                    </div>
                              
                            </div>
                            <div class="col-sm-6">
                       
                                    <label for="colFormLabel" class="col-sm-6 col-form-label">Project Number</label>
                                    <div class="col-sm-6">
                                        <label><b>{{Project.ProjectNumber}}</b></label>
                                    </div>
                           
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="colFormLabel" class="col-sm-6 col-form-label">Client name:</label>
                                <div class="col-sm-6">
                                    <label><b>{{Project.ClientName}}</b></label>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-4 col-form-label">Vendor Name:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="VendorName" class="form-control" tabindex="1" ng-model="vendor_name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">

                                        <label for="colFormLabel" class="col-sm-4 col-form-label">Cost</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="WorkCost" class="form-control" tabindex="2" ng-model="work_cost" required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <label for="colFormLabel" class="col-sm-4 col-form-label">Invoice No:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="InvoiceNumber" class="form-control" tabindex="3" ng-model="invoice_number" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">

                                        <label for="colFormLabel" class="col-sm-4 col-form-label">Invoice date</label>
                                        <div class="col-sm-8">
                                            <input type="date" class="form-control" name="itemDate" tabindex="4" ng-model="invoice_date" required />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">

                                        <label for="colFormLabel" class="col-sm-4 col-form-label">SGST</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="sgst" class="form-control" tabindex="5" ng-model="SGST" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class=" row">
                                        <label for="colFormLabel" class="col-sm-4 col-form-label">IGST</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="igst" class="form-control" tabindex="6" ng-model="IGST" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" style="padding: 8px 15px;">
                                    <div class="row">

                                        <label for="colFormLabel" class="col-sm-4 col-form-label">TDS</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="tds" class="form-control" tabindex="7" ng-model="TDS" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="padding: 8px 15px;">
                                    <div class="row">
                                        <label for="colFormLabel" class="col-sm-4 col-form-label">CGST</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="cgst" class="form-control" tabindex="8" ng-model="CGST" required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">

                                        <label for="colFormLabel" class="col-sm-4 col-form-label">Description</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="Description" class="form-control" tabindex="9" ng-model="project_description" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <label for="colFormLabel" class="col-sm-8 col-form-label">Grand Total:</label>
                                        <div class="col-sm-4">
                                            <label>{{ work_cost+CGST+SGST+IGST-TDS | currency : "&#8377" : 2}}</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
</form>
                </div>

                <div class="layout_modal_footer ">
                    <button class="btn btn-success" ng-click="AddSellInvoice()"
                            ng-disabled="NewInvoice.VendorName.$invalid || NewInvoice.WorkCost.$invalid || NewInvoice.InvoiceNumber.$invalid || NewInvoice.itemDate.$invalid || NewInvoice.sgst.$invalid || NewInvoice.igst.$invalid || NewInvoice.tds.$invalid || NewInvoice.cgst.$invalid || NewInvoice.Description.$invalid" >
                        Add
                    </button> &nbsp;&nbsp;

                    <button class="btn btn-warning" ng-click="model.newSalesInvoiceDiv= false">Cancel</button>
                </div>
                <div ng-show="project_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>

        </div>




        <div id="newReceivePaymentModal" ng-show="newReceivePaymentDiv" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:600px;">
                <div class="layout_modal_header">
                    Receive Payment <span ng-click="newReceivePaymentDiv=false" title="Close" class="fa fa-close"></span>
                </div>
                <div class="layout_modal_body">
                    <form name="ReceivePayment">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label style="width:105px;">Invoice Number:</label>
                                    <label>{{selInvoice.InvoiceNumber}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label style="width:115px;">Total Payable:</label>
                                    <label>{{selInvoice.ServiceCost+selInvoice.CGST+selInvoice.SGST+ selInvoice.IGST - selInvoice.TDS | currency : "&#8377" : 2}}</label>
                                </div>
                                <div class="col-xs-6">
                                    <label style="width:135px;">Amount Received</label>
                                    <label>{{selInvoice.ReceivedAmount | currency : "&#8377" : 2}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label style="width:100px;">Received Cost</label>
                                    <input type="number" name="receiveCost" style="width:100px;" ng-model="received_cost"required />
                                </div>
                                <div class="col-xs-6">
                                    <label style="width:100px;">Received GST</label>
                                    <input type="number" name="gst" style="width:144px;" ng-model="received_GST" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label style="width:100px;">Received TDS</label> 
                                    <input type="number" name="tds" style="width:100px;" ng-model="received_TDS" required/>
                                </div>
                                <div class="col-xs-6">
                                    <label style="width:100px;">Account</label>
                                    <select style="width:144px;  height: 22px;" name="Account" ng-model="selAcc" ng-options="acc.AccountName for acc in Accounts" required></select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <label style="width:100px;">Remarks</label> 
                                    <input type="text" name="remarks" style="width:100px;" ng-model="trans_remarks" required/>
                                </div>
                                <div class="col-xs-6">
                                    <label style="width:100px;">Payment Date</label> 
                                    <input type="date" name="itemDate" ng-model="receive_date" required />
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button class="btn btn-success" ng-click="AddPayment()"
                        ng-disabled="ReceivePayment.remarks.$invalid  || ReceivePayment.receiveCost.$invalid || ReceivePayment.gst.$invalid || ReceivePayment.tds.$invalid || ReceivePayment.remarks.$invalid || ReceivePayment.itemDate.$invalid || ReceivePayment.Account.$invalid" >
                        Add
                    </button> &nbsp;&nbsp;
                    <button class="btn btn-warning" ng-click="newReceivePaymentDiv= false">Cancel</button>
                </div>
                <div ng-show="project_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>



        <div id="newPurchaseInvoiceModal" ng-show="model.newPurchaseInvoiceDiv" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:600px;">
                <div class="layout_modal_header">
                    Purchase Invoice <span ng-click="model.newPurchaseInvoiceDiv=false" title="Close" class="fa fa-close"></span>
                </div>
                <div class="layout_modal_body">
                    <form name="PurchaseInvoice">
                        <div class="row">
                            <div class="col-sm-6">
                                
                                    <label for="colFormLabel" class="col-sm-6 col-form-label">Project Name:</label>
                                    <div class="col-sm-6">
                                        <label><b>{{Project.ProjectName}}</b></label>
                                    </div>
                               
                            </div>
                            <div class="col-sm-6">
                               
                                    <label for="colFormLabel" class="col-sm-6 col-form-label">Project Number</label>
                                    <div class="col-sm-6">
                                        <label><b>{{Project.ProjectNumber}}</b></label>
                                    </div>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">

                                <label for="colFormLabel" class="col-sm-4 col-form-label">Vendor Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="VenderName" class="form-control" tabindex="1" ng-model="vendor_name" required>
                                </div>

                            </div>

                            <div class="col-sm-6">

                                <label for="colFormLabel" class="col-sm-4 col-form-label">Invoice No:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="InvNumber" class="form-control" tabindex="2" ng-model="pinvoice_number" required>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">

                                <label for="colFormLabel" class="col-sm-4 col-form-label">Cost</label>
                                <div class="col-sm-8">
                                    <input type="number" name="cost" class="form-control" tabindex="3" ng-model="pwork_cost" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">Invoice date</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="itemDate" tabindex="4" ng-model="pinvoice_date" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">SGST</label>
                                <div class="col-sm-8">
                                    <input type="number" name="sgst" class="form-control" tabindex="5" ng-model="pSGST" required>
                                </div>
                            </div>
                            <div class="col-sm-6"tyle="padding: 8px 15px;">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">CGST</label>
                                <div class="col-sm-8">
                                    <input type="number" name="cgst" class="form-control" tabindex="6" ng-model="pCGST" required>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6"style="padding: 8px 15px;">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">IGST</label>
                                <div class="col-sm-8">
                                    <input type="number" name="igst" class="form-control" tabindex="7" ng-model="pIGST" required>
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding: 8px 15px;">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">TDS</label>
                                <div class="col-sm-8">
                                    <input type="number" name="tds" class="form-control" tabindex="8" ng-model="pTDS" required>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-sm-6">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Description</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="Discription" class="form-control" tabindex="9" ng-model="project_description" required>
                                    </div>
                            </div>
                            <div class="col-sm-6">
                                    <label for="colFormLabel" class="col-sm-8 col-form-label">Grand Total:</label>
                                    <div class="col-sm-4">
                                        <label>{{pwork_cost+pCGST+pSGST+pIGST | currency : "&#8377" : 2}}</label>
                                    </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button class="btn btn-success" ng-click="AddPurchaseInvoice()"
                           ng-disabled="PurchaseInvoice.VenderName.$invalid ||PurchaseInvoice.cost.$invalid ||PurchaseInvoice.InvNumber.$invalid||PurchaseInvoice.itemDate.$invalid||PurchaseInvoice.sgst.$invalid||PurchaseInvoice.igst.$invalid ||PurchaseInvoice.tds.$invalid ||PurchaseInvoice.cgst.$invalid ||PurchaseInvoice.Discription.$invalid" >
                    Add</button> &nbsp;&nbsp;
                    <button class="btn btn-warning" ng-click="model.newPurchaseInvoiceDiv= false">Cancel</button>
                </div>
                <div ng-show="project_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>

        <div id="newMakePaymentModal" ng-show="newMakePaymentDiv" class="layout_modal_Window">
            <div class="layout_modal_Content" style="height:250px;width:675px;">
                <div class="layout_modal_header">
                    Purchase Invoice <span ng-click="newMakePaymentDiv=false" title="Close" class="fa fa-close"></span>
                </div>
                <div class="layout_modal_body">
                    <form name="MakePayment">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label style="width:105px;">Invoice Number:</label> <label>{{selInvoice.InvoiceNumber}}</label>
                                </div>
                                <div class="col-xs-6">
                                    <label style="width:100px;">Cost Invoiced:</label> <label>{{selInvoice.ServiceCost | currency : "&#8377" : 2}}</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Cost Paid</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="cost" class="form-control" tabindex="1" ng-model="paid_cost" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Account name</label>
                                    <div class="col-sm-8">
                                        <select tabindex="2" class="form-control" name="Account" ng-model="selAcc" ng-options="acc.AccountName for acc in Accounts" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Remarks</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="remarks" class="form-control" tabindex="3" ng-model="payment_Remarks" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Invoice date</label>
                                    <div class="col-sm-8">
                                        <input type="date" name="itemDate" class="form-control" tabindex="4" ng-model="receive_date" required>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="row">

                                <div class="col-xs-6">
                                    <label style="width:100px;">Cost Paid</label>
                                    <input type="text" name="cost" style="width:100px;" ng-model="paid_cost" required />
                                </div>
                                <div class="col-xs-6">
                                    <label style="width:104px;">Account name</label>
                                    <select style="width:130px;height:22px;" name="Account" ng-model="selAcc" ng-options="acc.AccountName for acc in Accounts "required></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label style="width:100px;">Remarks</label>
                                    <input type="text"name="remarks" style="width:100px;" ng-model="payment_Remarks"required />
                                </div>
                                <div class="col-xs-6">
                                    <label style="width:100px;">Invoice date</label>
                                    <input style="width:130px;" type="date" name="itemDate" ng-model="receive_date" required />
                                </div>
                            </div>-->

                        </div>
                    </form>

                </div>
                <div class="layout_modal_footer">
                    <button class="btn btn-success" ng-click="Pay()"
                           ng-disabled="MakePayment.cost.$invalid || MakePayment.Account.$invalid || MakePayment.remarks.$invalid || MakePayment.itemDate.$invalid" >
                    Add
                        </button> &nbsp;&nbsp;
                    <button class="btn btn-warning" ng-click="newMakePaymentDiv= false">Cancel</button>
                </div>
                <div ng-show="project_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>


        <div id="newOtherPaymentModal" ng-show="model.newOtherPaymentDiv" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:600px;">
                <div class="layout_modal_header">
                    Other Payment <span ng-click="model.newOtherPaymentDiv=false" title="Close" class="fa fa-close"></span>
                </div>
                <div class="layout_modal_body">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-xs-6">
                                <label style="width:100px;">Name</label> <input type="text" style="width:100px;" ng-model="model.trans_name" />
                            </div>
                            <div class="col-xs-6">
                                <label style="width:100px;">Cost Paid</label> <input type="text" style="width:100px;" ng-model="model.trans_amount" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label style="width:100px;">Account</label>  <select ng-model="model.selAccount" ng-options="acc.AccountName for acc in Accounts"></select>
                            </div>
                            <div class="col-xs-6">
                                <label style="width:100px;">Date:</label>  <input type="date" name="itemDate" ng-model="model.trans_date" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label style="width:100px;">Remarks</label> <input type="text" style="width:100px;" ng-model="model.trans_Remarks" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="layout_modal_footer">
                    <button class="btn btn-success" ng-click="PayOther()">Add</button> &nbsp;&nbsp;
                    <button class="btn btn-warning" ng-click="model.newOtherPaymentDiv= false">Cancel</button>
                </div>
                <div ng-show="other_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:300px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>

    </div>
   <br/>

</body>
</html>
