<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid zero_margin">

        <div class="row" ng-show="AccountList.length==0" >
            No Account or Project Added. First create a account and project
        </div>
        <div class="row zero_margin">
            <div class="col-sm-6">
                <div class="input-group" style="width:300px;">

                    <!--<div class="input-group-addon" style="padding:0px;">
                <select tabindex="2" ng-model="filterStatus" ng-options="x for x in AccountList" style="margin:0px;"></select>
            </div>-->


                    <select class="input-group-addon" ng-model="filterAccount" style="width:200px; height:40px;">
                        <option ng-selected="true" value="{{undefined}}">All</option>
                        <option ng-repeat="x in AccountList" value="{{x.AccountName}}">{{x.AccountName}}</option>
                    </select>
                    <div class="input-group-addon">
                        <span ng-click="Previous()" title="Previous Month" class="glyphicon glyphicon-arrow-left"></span>
                        <label style="padding-left:10px;padding-right:10px; color:blue;"> {{CurrentMonth| date:"MMM,yy"}}</label>
                        <span ng-click="Next()" ng-hide="IsLatest" title="Next Month" class="glyphicon glyphicon-arrow-right"></span>
                    </div>
                    <div class="input-group-addon">
                        <span ng-click="ShowData()" class="fa fa-search"></span>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="row" style=" float:right;">
                    <button type="button" class="btn btn-primary" ng-click="newSalary=true">Salary</button>
                    <button type="button" class="btn btn-warning" ng-click="newTransfer=true">Add Transfer</button>
                    <button type="button" class="btn btn-success" ng-click="newExpense=true;">Advance</button>
                    <button type="button" class="btn btn-primary" ng-click="ShowExternal=true;">External Transaction</button>
                </div>
            </div>
        </div>
       



        <div class="row">

            <div class="panel panel-default" style="margin:10px; position:relative; z-index:-1;">
                <div class="panel-heading bg_greyBlue" style="height:40px;">
                    Transaction Details
                    <span ng-hide="true" ng-click="exportToExcel('#TransactionData')" title="Export to Excel" style="margin-left:20px;cursor:pointer;">Export <img width="10" height="10" src="../../Images/Icon/excel.jpg" /></span>

                    <img on-toggle="" src="../../Images/Icon/excel.jpg" title="Export to Excel" ng-click="exportToExcel('#TransactionData')" style="width:30px;height:30px;border-radius:50%;
                             position: absolute;top:5px; right: 50px;" />
                </div>
                <div style="max-height:{{ScreenHeight}};overflow:scroll;">

                    <table id="TransactionData" style="width:100%;">
                        <tr class="padding-10">
                            <th>#</th>
                            <th>Date Time</th>
                            <th>Account</th>
                            <th>Type</th>
                            <th>Withdraw</th>
                            <th>Deposit</th>
                            <th>Balance</th>
                            <th>Account Balance</th>
                            <th>Name</th>
                            <th>Remark</th>

                        </tr>
                        <tr ng-repeat="expense in expenses|orderBy:sortDate| filter:{AccountName: filterAccount}:false" class="repeated-item">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ expense.EntryDate| date:"ddMMM,yy @ h:mma" }}</td>
                            <td>{{ expense.AccountName}}</td>
                            <td>{{ expense.TransType}}</td>
                            <td>{{ expense.Withdraw | currency : "&#8377" : 2}}</td>
                            <td>{{ expense.Deposit| currency : "&#8377" : 2}}</td>
                            <td>{{ expense.Balance| currency : "&#8377" : 2}}</td>
                            <td>{{ expense.AccountBalance| currency : "&#8377" : 2}}</td>
                            <td>{{ expense.TransName}}</td>
                            <td>{{ expense.TransactionRemarks}}</td>

                        </tr>

                    </table>
                </div>
                </div>
                </div>
              


                <div id="newTransferDialog" ng-show="newTransfer" class="layout_modal_Window">
                    <div class="layout_modal_Content" style="width:380px;position:relative;">
                        <div class="layout_modal_header"> Transfer:  <span ng-click="newTransfer=false" class="fa fa-close"></span> </div>
                        <div class="layout_modal_body">
                            <form name="Transfer" style="width:340px;margin:10px auto; text-align:left;">
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Name:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="transferName" tabindex="0" ng-model="transfer_name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-6 col-form-label">Transaction Type:</label>
                                    <div class="col-sm-6">
                                        <label>Transfer</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">From Account:</label>
                                    <div class="col-sm-8">
                                        <select tabindex="1" class="form-control" ng-model="selFromAcc" ng-options="acc.AccountName for acc in AccountList"></select>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">To Account:</label>
                                    <div class="col-sm-8">
                                        <select tabindex="2" class="form-control" ng-model="selToAcc" ng-options="acc.AccountName for acc in AccountList"></select>

                                    </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-4 col-form-label">Amount:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="transferName" tabindex="0" ng-model="transfer_amount" required min-amount>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-4 col-form-label">Remark:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="transferName" tabindex="0" ng-model="transfer_remark" required text-length>
                                        </div>
                                    </div>
                            </form>
                        </div>
                        <div class="layout_modal_footer">
                            <button type="button" class="btn btn-success" ng-click="TransferUpdate()" ng-disabled="Transfer.AccHolder.$invalid || Transfer.Amount.$invalid || Transfer.Remark.$invalid">Add</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-warning" ng-click="newTransfer=false">Close</button>
                        </div>
                        <div ng-show="transfer_progress" class="loader_div">
                            <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                        </div>
                    </div>
                </div>

                <div id="newExpenseDialog" ng-show="newExpense" class="layout_modal_Window">
                    <div class="layout_modal_Content" style="width:380px;position:relative">
                        <div class="layout_modal_header"> Expense:  <span ng-click="newExpense=false" class="fa fa-close"></span> </div>
                        <div class="layout_modal_body">
                            <form name="Expense" style="width:340px;margin:10px auto; text-align:left;">


                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-6 col-form-label">Name:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="transferName" tabindex="0" type="text" ng-model="advance_name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-6 col-form-label">Transaction Type:</label>
                                    <div class="col-sm-6">
                                        <label>Transfer</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-6 col-form-label">From Account:</label>
                                    <div class="col-sm-6">
                                        <select tabindex="1" class="form-control" ng-model="selFromAcc" ng-options="acc.AccountName for acc in AccountList"></select>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-6 col-form-label">To Activity: :</label>
                                    <div class="col-sm-6">
                                        {{ActivityName}} <button class="btn btn-link" ng-click="SelectActivity()">Select Activity</button>

                                    </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-6 col-form-label">Amount:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="Amount" tabindex="0" ng-model="advance_amount" required min-amount>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-6 col-form-label">Remark:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="transferName" tabindex="5" ng-model="advance_Remarks" required text-length>
                                        </div>
                                    </div>
                            </form>
                        </div>
                        <div class="layout_modal_footer">
                            <button type="button" class="btn btn-success" ng-click="PayAdvance()" ng-disabled="Expense.AccHolder.$invalid || Expense.Amount.$invalid || Expense.Remark.$invalid">Add</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-warning" ng-click="newExpense=false">Close</button>
                        </div>
                        <div ng-show="advance_progress" class="loader_div">
                            <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                        </div>
                    </div>
                </div>

        <div id="newSalaryDialog" ng-show="newSalary" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:400px;position:relative">
                <div class="layout_modal_header"> Salary:  <span ng-click="newSalary=false" class="fa fa-close"></span> </div>
                <div class="layout_modal_body">
                    <form name="salary" >
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Employee</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="employeeName" tabindex="0" type="text" ng-model="employee_name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Transaction Type:</label>
                            <div class="col-sm-6">
                                <label class="form-control">Salary </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">From Account:</label>
                            <div class="col-sm-6">
                                <select class="form-control" tabindex="2" ng-model="selFromAcc" ng-options="acc.AccountName for acc in AccountList"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Load On Project ?</label>
                            <div class="col-sm-6 form-inline">
                                {{ProjectName}}<button class="btn btn-link" ng-click="SelectProject()">Select Project</button>
                           
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Amount:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="Amount" tabindex="4" ng-model="salary_amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Remark:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="Remark" tabindex="5" ng-model="salary_Remarks">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-success" ng-click="PaySalary()" ng-disabled="salary.AccHolder.$invalid || salary.Amount.$invalid || salary.Remark.$invalid">Add</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" ng-click="newSalary=false">Close</button>
                </div>
                <div ng-show="salary_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>

                <div id="ActivitiesDialog" ng-show="ListActivity" class="layout_modal_Window">
                    <div class="layout_modal_Content" style="width:500px;">
                        <div class="layout_modal_header"> Activity List:  <span ng-click="newExpense=false" class="fa fa-close"></span> </div>
                        <div class="layout_modal_body">
                            <div class="row" style="text-align:center;">
                                <div style="text-align:center;">Filter <input ng-model="searchText"></div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <table style="margin:auto;max-height:300px;overflow-y:auto;">
                                    <tr>
                                        <th>ActivityName</th>
                                        <th>ActivityID</th>
                                        <th>User</th>
                                        <th>Manager</th>
                                        <th colspan="2">Status</th>
                                    </tr>
                                    <tr ng-repeat="act in ActivityList | filter:searchText" style="overflow-y:auto;">
                                        <td> {{act.ActivityName}}</td>
                                        <td>{{act.ActivityID}}</td>
                                        <td>{{act.CreatedBy}}</td>
                                        <td>{{act.ApproverName}}</td>
                                        <td>{{act.ActivityStatus}}</td>
                                        <td><span class="fa fa-check" ng-click="Select(act)"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="layout_modal_footer">

                            <button type="button" class="btn btn-warning" ng-click="ListActivity=false">Close</button>
                        </div>
                    </div>
                </div>

        <div id="newExternalDialog" ng-show="ShowExternal" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:350px;">
                <div class="layout_modal_header"> External Tranfer:  <span ng-click="ShowExternal=false" class="fa fa-close"></span> </div>
                <div class="layout_modal_body">
                    <form name="newExternal" style="width:320px;margin:10px auto; text-align:left;">
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-5 col-form-label">Name:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="transferName" tabindex="0"  ng-model="external_name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-5 col-form-label">Transaction Type:</label>
                            <div class="col-sm-7">
                                <input type="radio" ng-model="type" value="Paid">Paid
                                <input type="radio" ng-model="type" value="Received">Received
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-5 col-form-label">Account:</label>
                            <div class="col-sm-7">
                                <select tabindex="1" class="form-control" ng-model="selAcc" ng-options="acc.AccountName for acc in AccountList">></select>
                            </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-5 col-form-label">Amount:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="Amount" tabindex="0" ng-model="external_amount" required min-amount>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-5 col-form-label">Remark:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="Remark" tabindex="5" ng-model="external_Remarks" required text-length>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-success" ng-click="PayExternal()" ng-disabled="newExternal.AccHolder.$invalid || newExternal.Amount.$invalid || newExternal.Remark.$invalid">Add</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" ng-click="ShowExternal=false">Close</button>
                </div>
                <div ng-show="external_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>


        <div id="ProjectDialog" ng-show="listProject" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:500px;">
                <div class="layout_modal_header"> Project List:  <span ng-click="listProject=false" class="fa fa-close"></span> </div>
                <div class="layout_modal_body">
                    <div class="row">
                       
                        <div style="text-align:center;">Filter <input ng-model="searchText"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <table style="margin:auto;max-height:300px;overflow-y:auto;">
                            <tr>
                                <th>ProjectName</th>
                                <th>ProjectNumber</th>
                                <th>ClientName</th>
                                <th>Manager Name</th>
                                 <th colspan="2">Status</th>
                            </tr>
                            <tr ng-repeat="prj in ProjectList | filter:searchText" style="overflow-y:auto;">
                                <td> {{prj.ProjectName}}</td>
                                <td>{{prj.ProjectNumber}}</td>
                                <td>{{prj.ClientName}}</td>
                                <td>{{prj.CreatedByName}}</td>
                                <td>{{prj.Status}}</td>
                                <td><span class="fa fa-check" ng-click="SelectProj(prj)"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="layout_modal_footer">

                    <button type="button" class="btn btn-warning" ng-click="listProject=false">Close</button>
                </div>
            </div>
        </div>


        <div id="User_Form" ng-show="SelectUserForm" class="layout_modal_Window">
            <div class="layout_modal_Content" style="height:400px;width:400px;">
                <div class="layout_modal_header">
                    <h4>Select User</h4>
                </div>
                <div class="layout_modal_body container-fluid" style="height:300px;">
                   
                        <div class="row">
                            Filter <input />
                        </div>
                        <div class="row">
                            <table style="height:270px;width:100%; overflow:scroll;">
                                <tr>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                </tr>
                                <tr ng-repeat="user in UserList" ng-click="SelectUser(user)">
                                    <td> {{user.UserName}}</td>
                                    <td>{{user.UserId}}</td>
                                    <td>{{user.UserMobile}}</td>
                                    <td>{{user.UserEmail}}</td>
                                </tr>
                            </table>
                        </div>

                </div>
                <div class="layout_modal_footer">
                     <button type="button" class="btn btn-warning" ng-click="SelectUserForm= false">Close</button>
                </div>
            </div>
        </div>
            </div>

</body>
</html>
