<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid zero_margin padding-5">

        <div class="row" ng-show="AccountList.length==0">
            No Account or Project Added. First create a account and project
        </div>
        <div class="row zero_margin">
            <div class="col-xs-12 col-md-5" >
                <div class="input-group" style="width:300px;">

                    <!--<div class="input-group-addon" style="padding:0px;">
                        <select tabindex="2" ng-model="filterStatus" ng-options="x for x in AccountList" style="margin:0px;"></select>
                    </div>-->

                    <select class="input-group-addon" ng-model="filterAccount" style="width:200px; height:40px;">
                        <option ng-selected="true" value="{{undefined}}">All</option>
                        <option ng-repeat="x in AccountList" value="{{x.AccountName}}">{{x.AccountName}}</option>
                    </select>
                    <div class="input-group-addon">
                        <span ng-click="Previous()" title="Previous Month" class="glyphicon glyphicon-arrow-left"></span>
                        <label style="padding-left:10px;padding-right:10px; color:blue;"> {{CurrentMonth| date:"MMM,yy"}}</label>
                        <span ng-click="Next()" ng-hide="IsLatest" title="Next Month" class="glyphicon glyphicon-arrow-right"></span>
                    </div>
                    <div class="input-group-addon">
                        <span ng-click="ShowData()" class="fa fa-search"></span>
                    </div>
                </div>

            </div>
            <div class="col-md-3"></div>
            <div class="col-xs-12 col-md-4" style="float:right;margin-top:5px;">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="newSalaryOpen()">Salary</button>
                    <button type="button" class="btn  btn-sm btn-warning" ng-click="newTransferOpen()">Add Transfer</button>
                    <button type="button" class="btn  btn-sm btn-success" ng-click="newAdvanceOpen()">Advance</button>
                    <button type="button" class="btn  btn-sm btn-primary" ng-click="ShowExternalOpen()">External</button>
            </div>
        </div>




        <div class="row">

            <div class="panel panel-default" style="margin:10px; position:relative;z-index:2;">
                <div class="panel-heading bg_greyBlue" style="height:40px;">
                    Transaction Details
                    <span ng-hide="true" ng-click="exportToExcel('#TransactionData')" title="Export to Excel" style="margin-left:20px;cursor:pointer;">Export <img width="10" height="10" src="../../Images/Icon/excel.jpg" /></span>
                    <i class="fa fa-file-excel-o fa-3x btn-header" title="Export to Excel" 
                       ng-click="exportTransaction('#TransactionData')" style="position: absolute;top:5px; right: 50px; color:black; cursor:pointer;"></i>
                </div>
                <div style="max-height:{{ScreenHeight}};">

                    <div class="container-fluid" id="TransactionData" style="width:100%; overflow-y:scroll;">
                        <div  class="row col-sm-12 padding-10" >
                            <div class="hidden-xs hidden-sm  hidden-md hidden-lg"><b>#</b></div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><b>Date Time</b></div>
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><b>Account</b></div>
                            <div class=" hidden-xs  hidden-sm hidden-md hidden-lg"><b>Type</b></div>
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><b>Amount</b></div>
                            
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><b>Balance</b></div>
                            <div class="col-sm-2  hidden-xs col-md-2 col-lg-2"><b>Account Balance</b></div>
                            <div class="col-sm-2  hidden-xs col-md-2 col-lg-2"><b>Name /  Remarks</b></div>
                          

                        </div>
                        <div class="row repeated-item" style="border-top:solid 1px blue" ng-repeat="expense in expenses|orderBy:sortDate| filter:{AccountName: filterAccount}:false">
                            <div class="hidden-sm  hidden-xs  hidden-md hidden-lg">{{ $index + 1 }}</div>
                            <div class=" hidden-xs col-sm-2 col-md-2 col-lg-2"><b>{{ $index + 1 }}-</b> {{ expense.EntryDate| date:"ddMMM,yy@h:mma" }}</div>
                            <div class="col-xs-2 hidden-sm hidden-md hidden-lg">{{ expense.EntryDate| date:"ddMMM,yy" }}</div>
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{ expense.AccountName}}</div>
                            <div class="hidden-sm  hidden-xs hidden-md hidden-lg">{{ expense.TransType}}</div>
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><P ng-hide="expense.Withdraw==0">W: {{ expense.Withdraw | currency : "&#8377" : 2}}</P><p ng-hide="expense.Deposit==0">D: {{ expense.Deposit| currency : "&#8377" : 2}}</p></div>

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{{ expense.Balance| currency : "&#8377" : 2}}</div>
                            <div class="col-sm-2  hidden-xs col-md-2 col-lg-2">{{ expense.AccountBalance| currency : "&#8377" : 2}}</div>
                            <div class="col-sm-2  hidden-xs col-md-2 col-lg-2"> {{ expense.TransName}} {{ expense.TransactionRemarks}}</div>
                         

                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div id="newTransferDialog" ng-show="newTransfer" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:380px;position:relative;">
                <div class="layout_modal_header"> Transfer:  <span ng-click="newTransfer=false" class="fa fa-close"></span> </div>
                <div class="layout_modal_body">
                    <form name="Transfer" style="width:340px;margin:10px auto; text-align:left;">
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-4 col-form-label">Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="transferName" tabindex="1" ng-model="transfer_name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Transaction Type:</label>
                            <div class="col-sm-6">
                                <label>Transfer</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-4 col-form-label">From Account:</label>
                            <div class="col-sm-8">
                                <select tabindex="2" class="form-control" name="Account" ng-model="selFromAcc" ng-options="FromAcc.AccountName for FromAcc in AccountList" required></select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-4 col-form-label">To Account:</label>
                            <div class="col-sm-8">
                                <select tabindex="3" class="form-control" name="ToAccount" ng-model="selToAcc" ng-options="ToAcc.AccountName for ToAcc in AccountList" required></select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-4 col-form-label">Amount:</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="transferAmount" tabindex="4" ng-model="transfer_amount" required min-amount>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-4 col-form-label">Remark:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="transferRemarks" tabindex="5" ng-model="transfer_remark" required text-length>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-success" tabindex="6" ng-click="TransferUpdate()"
                            ng-disabled="Transfer.transferName.$invalid ||Transfer.Account.$invalid ||Transfer.ToAccount.$invalid || Transfer.transferAmount.$invalid || Transfer.transferRemarks.$invalid">
                        Add
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" tabindex="7" class="btn btn-warning" ng-click="newTransfer=false">Close</button>
                </div>
                <div ng-show="transfer_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:50%;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>

        <div id="newExpenseDialog" ng-show="newExpense" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:400px;position:relative">
                <div class="layout_modal_header"> Expense:  <span ng-click="newExpense=false" class="fa fa-close"></span> </div>
                <div class="layout_modal_body">
                    <form name="Expense" style="width:340px;margin:10px auto; text-align:left;">


                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="AdvanceName" tabindex="1" ng-model="advance_name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Transaction Type:</label>
                            <div class="col-sm-6">
                                <label>Transfer</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">From Account:</label>
                            <div class="col-sm-6">
                                <select tabindex="2" class="form-control" ng-model="selFromAcc" ng-options="acc.AccountName for acc in AccountList"></select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">To Activity: :</label>
                            <div class="col-sm-6">
                                {{ActivityName}} <button class="btn btn-link" tabindex="3" ng-click="SelectActivity()">Select Activity</button>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Amount:</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" name="AdvanceAmount" tabindex="4" ng-model="advance_amount" required min-amount>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Remark:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="AdvanceRemarks" tabindex="5" ng-model="advance_Remarks" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-success" tabindex="6" ng-click="PayAdvance()"
                            ng-disabled="Expense.AdvanceName.$invalid || Expense.AdvanceAmount.$invalid || Expense.AdvanceRemarks.$invalid">
                        Add
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" tabindex="7" ng-click="newExpense=false">Close</button>
                </div>
                <div ng-show="advance_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>

        <div id="newSalaryDialog" ng-show="newSalary" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:400px;position:relative">
                <div class="layout_modal_header"> Salary:  <span ng-click="newSalary=false" class="fa fa-close"></span> </div>
                <div class="layout_modal_body">
                    <form name="salary">
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Employee</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="employeeName" tabindex="1" ng-model="employee_name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Transaction Type:</label>
                            <div class="col-sm-6">
                                <label tabindex="2" class="form-control">Salary </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">From Account:</label>
                            <div class="col-sm-6">
                                <select class="form-control" tabindex="3" name="Account" ng-model="selFromAcc" ng-options="acc.AccountName for acc in AccountList" required></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Load On Project ?</label>
                            <div class="col-sm-6 form-inline">
                                {{ProjectName}}<button class="btn btn-link" tabindex="4" ng-click="SelectProject()">Select Project</button>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Amount:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="Amount" tabindex="5" ng-model="salary_amount" required min-amount>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Remark:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="Remark" tabindex="6" ng-model="salary_Remarks" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-success" ng-click="PaySalary()"
                            tabindex="7" ng-disabled="salary.AccHolder.$invalid || salary.Amount.$invalid || salary.employeeName.$invalid ||salary.Account.$invalid || salary.Remark.$invalid">
                        Add
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" tabindex="8" ng-click="newSalary=false">Close</button>
                </div>
                <div ng-show="salary_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>

        <div id="ActivitiesDialog" ng-show="ListActivity" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:500px;">
                <div class="layout_modal_header"> Activity List:  <span ng-click="newExpense=false" class="fa fa-close"></span> </div>
                <div class="layout_modal_body">
                    <div class="row" style="text-align:center;">
                        <div style="text-align:center;">Filter <input ng-model="searchText"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <table style="margin:auto;max-height:300px;overflow-y:auto;">
                            <tr>
                                <th>ActivityName</th>
                                <th>ActivityID</th>
                                <th>User</th>
                                <th>Manager</th>
                                <th colspan="2">Status</th>
                            </tr>
                            <tr ng-repeat="act in ActivityList | filter:searchText" style="overflow-y:auto;">
                                <td> {{act.ActivityName}}</td>
                                <td>{{act.ActivityID}}</td>
                                <td>{{act.CreatedBy}}</td>
                                <td>{{act.ApproverName}}</td>
                                <td>{{act.ActivityStatus}}</td>
                                <td><span class="fa fa-check" ng-click="Select(act)"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="layout_modal_footer">

                    <button type="button" class="btn btn-warning" ng-click="ListActivity=false">Close</button>
                </div>
            </div>
        </div>

        <div id="newExternalDialog" ng-show="ShowExternal" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:350px;">
                <div class="layout_modal_header"> External Tranfer:  <span ng-click="ShowExternal=false" class="fa fa-close"></span> </div>
                <div class="layout_modal_body">
                    <form name="newExternal" style="width:320px;margin:10px auto; text-align:left;">
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-5 col-form-label">Name:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="transferName" tabindex="1" ng-model="external_name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-5 col-form-label">Transaction Type:</label>
                            <div class="col-sm-7">
                                <input type="radio" ng-model="type" value="Paid">Paid
                                <input type="radio" ng-model="type" value="Received">Received
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-5 col-form-label">Account:</label>
                            <div class="col-sm-7">
                                <select tabindex="2" class="form-control" ng-model="selAcc" ng-options="acc.AccountName for acc in AccountList">></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-5 col-form-label">Amount:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="Amount" tabindex="3" ng-model="external_amount" required min-amount>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-5 col-form-label">Remark:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="Remark" tabindex="4" ng-model="external_Remarks" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-success" tabindex="5" ng-click="PayExternal()"
                            ng-disabled="newExternal.transferName.$invalid || newExternal.Amount.$invalid || newExternal.Remark.$invalid">
                        Add
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" tabindex="6" ng-click="ShowExternal=false">Close</button>
                </div>
                <div ng-show="external_progress" class="loader_div">
                    <img style="height:20px;width:20px;z-index:15;position:absolute; top:50%;left:170px;" src="Images/Icon/ajax-loader.gif" />
                </div>
            </div>
        </div>


        <div id="ProjectDialog" ng-show="listProject" class="layout_modal_Window">
            <div class="layout_modal_Content" style="width:500px;">
                <div class="layout_modal_header"> Project List:  <span ng-click="listProject=false" class="fa fa-close"></span> </div>
                <div class="layout_modal_body">
                    <div class="row">

                        <div style="text-align:center;">Filter <input ng-model="searchText"></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <table style="margin:auto;max-height:300px;overflow-y:auto;">
                            <tr>
                                <th>ProjectName</th>
                                <th>ProjectNumber</th>
                                <th>ClientName</th>
                                <th>Manager Name</th>
                                <th colspan="2">Status</th>
                            </tr>
                            <tr ng-repeat="prj in ProjectList | filter:searchText" style="overflow-y:auto;">
                                <td> {{prj.ProjectName}}</td>
                                <td>{{prj.ProjectNumber}}</td>
                                <td>{{prj.ClientName}}</td>
                                <td>{{prj.CreatedByName}}</td>
                                <td>{{prj.Status}}</td>
                                <td><span class="fa fa-check" ng-click="SelectProj(prj)"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="layout_modal_footer">

                    <button type="button" class="btn btn-warning" ng-click="listProject=false">Close</button>
                </div>
            </div>
        </div>


        <div id="User_Form" ng-show="SelectUserForm" class="layout_modal_Window">
            <div class="layout_modal_Content" style="height:400px;width:400px;">
                <div class="layout_modal_header">
                    <h4>Select User</h4>
                </div>
                <div class="layout_modal_body container-fluid" style="height:300px;">

                    <div class="row">
                        Filter <input />
                    </div>
                    <div class="row">
                        <table style="height:270px;width:100%; overflow:scroll;">
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th>Mobile</th>
                                <th>Email</th>
                            </tr>
                            <tr ng-repeat="user in UserList" ng-click="SelectUser(user)">
                                <td> {{user.UserName}}</td>
                                <td>{{user.UserId}}</td>
                                <td>{{user.UserMobile}}</td>
                                <td>{{user.UserEmail}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="layout_modal_footer">
                    <button type="button" class="btn btn-warning" ng-click="SelectUserForm= false">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="layout_modal_Window" id="ExelDialog" ng-show="showExcelDialog">
        <div class="layout_modal_Content" style="width:300px;">
            <div class="layout_modal_header">
                Alert
            </div>
            <div class="layout_modal_body" style="padding:20px;">
                Are you sure to download file ?
            </div>
            <div class="layout_modal_footer" style="margin-right:7px;">
                <button type="button" class="btn btn-success" ng-click="Download()"> Download </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-warning" ng-click="CancelDialog()">Cancel</button>
            </div>
        </div>
    </div>

</body>
</html>
